<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SMA / Stock Analysis</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="static/style.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">Dashboard</a>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core Functionalities</div>
                            <!--Side Bar menu-->
                            <a class="nav-link" href="/index.html">
                                Home
                            </a> 
                            <a class="nav-link" href="/sma">
                                Simple Moving Average Calculator
                            </a>
                            <a class="nav-link" href="/daily_return">
                                Daily Average
                            </a>
                            <a class="nav-link" href="/trend">
                                Trend Finder
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">TrendFinder</h1>
                        <div class="row">
                            <div class="col-xl-3">
                                <form method="POST" class="form-group">
                                    <h3>Settings for Trend</h3>
                                    <label for="start_date">Start Date:</label>
                                    <input type="date" name="start_date" required>
                                    <br>
                                    <label for="end_date">End Date:</label>
                                    <input type="date" name="end_date" required>
                                    <br>
                                    <label for="trend_window">Trend Window (days):</label>
                                    <input type="number" name="trend_window" min="1" required>
                                    <br>
                                    <button type="submit">Calculate</button>
                                </form>
                                <!--Only show if not None-->
                                {% if errorMsg %}
                                    {{ errorMsg | safe}}
                                {% endif %}
                            </div>
                            <div class="col-xl-8">
                                <!--Only show if not None-->
                                {% if trendGraph %}
                                    {{ trendGraph | safe}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row", style="text-align:center;">
                                {% if bullOrBear %}
                                    <h3 style="background-color:green; padding-top: 50px; padding-bottom:50px;">
                                        The trend indicates a Bull Market. (Upwards Trend for last {{trend_window | safe}} days)
                                    </h3>
                                {% elif bullOrBear == False %}
                                    <h3 style="background-color:red; padding-top: 50px; padding-bottom:50px;">
                                        The trend indicates a Bear Market. (Downwards Trend for last {{trend_window | safe}} days)
                                    </h3>
                                {% elif bullOrBear == None and results %}
                                    <!-- bullOrBear init is None, so need check if anything was calculated in order to only show when submitted -->
                                    <h3 style="background-color:orange; padding-top: 50px; padding-bottom:50px;">
                                        The trend is Neutral. (Flat Trend for last {{trend_window | safe}} days)
                                    </h3>
                                {% endif %}
                        </div>
                    </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
